.operButtCont {
    display: flex;
    flex-direction: column;
    height: 500px;




}

.operButt {
    border-radius: 50%;
    border-color: #007094;
    width: 100px;
    height: 100px;
    margin: 2%;
    font-size: 3rem;
    background-color: #007094;
    color: white;
    box-shadow: 0px 6px #322c2d;
}

